/* Reset de estilos por defecto del navegador */
:root {
  --main-color: #00bfff;
  --second-color: #cccccc;
  --third-color: #f9eb9b;
  --header-color: #1f272b;
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --color-hover: #02759c;

  --main-font: "Poppins", sans-serif;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 65px repeat(13, 100px);
  grid-auto-flow: row;
  grid-auto-rows: 200px;
  font-family: var(--main-font);
}

.main-banner {
  display: grid;
  grid-template-areas: "viewport";
  grid-area: main;
  width: 100vw;
  grid-column: 1/-1;
  grid-row: 2/10;
}
.main-banner video {
  grid-area: viewport;
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.container-text {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  width: 100%;
  height: 100%;
  grid-area: viewport;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 2rem;
  font-family: var(--main-font);
}
.container-parrafo {
  width: 70vw;
  margin: 0 auto;
  color: white;
  text-align: justify;
}

.container-parrafo h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
.container-parrafo h2 {
  font-size: 2.5rem;
}

.container-parrafo button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
  border: none;
  opacity: 1;
  transition: all 0.6s ease 0s;
}
.container-text .container-parrafo .l-button:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}

.slider-container {
  grid-area: articulos;
  grid-column: 1/-1;
  grid-row: 9/11;
  z-index: 20;
}

.card-slider-container {
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  height: 100%;
  scroll-behavior: smooth;
}

.card .border {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 50%;
  width: 73px;
  height: 73px;
}

.card figure {
  width: 276px;
  margin: 0 auto;
}
.card p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 10px;
  color: white;
}
.container-letter {
  display: flex;
  flex-direction: column;
}

.card .p-card {
  font-size: 1.2rem;
  margin: 0 auto;
  color: white;
  width: 70%;
  text-align: center;
  margin-top: 7px;
}

.card-slider-container .card:nth-child(1) {
  margin-left: 20px;
}
.card-slider-container .card {
  flex: 0 0 auto;
  width: 276px;
  scroll-snap-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/textura-azul.jpg");
  margin-right: 20px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.blank {
  grid-column: 1 / -1;
  grid-row: 10 / 11;
  background-image: url("../img/meetings-page-bg.jpg");
}
.events {
  grid-column: 1 / -1;
  grid-row: 11 / 16;
  background-image: url("../img/meetings-page-bg.jpg");
}

.events .card-events {
  padding-top: 62px;
  color: white;
  text-align: center;
}
.card-events h2 {
  font-size: 1.8rem;
}

.card-events hr {
  width: 71%;
}
.main-achievements {
  grid-column: 1/-1;
  grid-row: 16/17;
}

.allies {
  grid-column: 1/-1;
  grid-row: 17/18;
}

.footer {
  grid-column: 1/-1;
  grid-row: 18/19;
}

.card-events-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  transition: all 0.5s ease;
  scroll-behavior: smooth;
}

.card-events-container .box-event {
  margin-top: 20px;
  scroll-snap-align: center;
  width: 665px;
  height: 376px;
  margin-right: 20px;
  transition: all 0.5s ease;
}
.card-events-container .box-event:nth-child(1) {
  margin-left: 15px;
}

.card-image img {
  border-radius: 10px 10px 0 0;
  min-width: 366px;
  max-width: 665px;
}
.card-events-container .box-event .card-content {
  background-color: white;
  height: 109px;
  border-radius: 0 0 10px 10px;
}

.box-event figcaption {
  padding: 15px;
}

.box-event figcaption h2 {
  font-size: 1.6rem;
}

.box-event figcaption p {
  font-size: 1.2rem;
}

.box-event figcaption .card-date {
  font-size: 1.2rem;
  margin-top: 10px;
}

.container-button {
  display: flex;
}

.container-button .button {
  margin: 0 auto;
  width: 150px;
  height: 30px;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}

.main-achievements {
  background-image: url("../img/facts-bg.jpg");
  background-size: cover;
  height: 278px;
}

.main-achievements .text-achieve {
  color: white;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 20px;
}

.main-achievements .text-logro {
  color: white;
  font-size: 1.6rem;
  text-align: center;
}

.container-achievements {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.main-achievements .achievements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 85px;
  background-color: rgba(217, 217, 217, 0.6);
  margin: 10px 10px;
  border-radius: 15px;
}

.text-allies {
  margin: 100px 0 0 20px;
  font-size: 1.6rem;
}

.container-allies {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  transition: all 0.5s ease;
  scroll-behavior: smooth;
  align-items: center;
  margin-left: 25px;
}

.container-allies figure {
  margin: 10px 10px 0 25px;
}

.achievements > h2 {
  color: #f5a425;
  font-size: 1.7rem;
}

.achievements > p {
  color: white;
  font-size: 0.8rem;
}
